body{
  margin:0px;
  background-color:#DBD5B5;
}
nav{
  top:0px;
  background-color:#7B2D26;
  position:absolute;
  width:100%;
  margin:0px;
  display:flex;
  justify-content:center;
}
ul{
  list-style-type:none;
  padding-inline-start:0px;
  width:75%;
  display: flex;
  justify-content:space-between;
}
li{
  font-family: 'abril fatface',cursive;
  color: #DEAF68;
  float:left;
  padding:20px;
}
article{
  display:flex;
  flex-direction:row;
  width:100%;
  height:500px;
}
article:nth-child(even){
  flex-direction:row-reverse;
}
a:hover{
  cursor:pointer;
}
.about-screen-container{
  margin-top:190px;
  width:100%;
  height:650px;
  background-color:#7B2D26;
  font-size:80px;
  color:white;
  background-size:65%;
  background-repeat:no-repeat;
  background-position:right top;
}
.about-screen-container h1{
  width:75%;
  padding-top:280px;
  padding-left:60px;
}
.about-txt{
  font-family: 'urbanist',sans-serif;
  text-align:justify;
  padding:60px;
  padding-left:120px;
  padding-right:120px;
  font-size:24px;
  color:black;
  padding-bottom: 0px;
}

#dropdown{
  display: block;
  position: relative;
  background-color: #000;
  max-width: 200px;
  flex-wrap: wrap;

}

#dropdown > ul {
  display: block;
 position: absolute;
 margin-top:50px;
 margin-left:15px;
 background-color: black;
 color:white;
 z-index: 1;
}

a{
  color: inherit;
  text-decoration: none;
}

.h2{
  padding-left:10%;
  font-size:30px;
  margin-bottom:50px;
  padding-bottom:15px;
}

.about-us {
  width:60%;
  height:auto;
  background-color:#7B2D26;
  padding: 40px;
  padding-left:120px;
  padding-right:120px;
  font-size:24px;
  color:white;
  font-family: 'urbanist',sans-serif;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}

#uae_img{
  transform: translate(60%,-10%);
  position: absolute;
  width:60vw;
  z-index: 0;
}

h1{
  z-index:1;
  position:absolute;
}

footer{
  background-color:#7B2D26;
  width:100%;
  padding:8px;
  text-align:center;
   color: #ffffff;
}