body{
  margin:0px;
  background-color:#DBD5B5;
}
nav{
  top:0px;
  background-color:#7B2D26;
  position:absolute;
  width:100%;
  margin:0px;
  display:flex;
  justify-content:center;
}
ul{
  list-style-type:none;
  padding-inline-start:0px;
  width:75%;
  display: flex;
  justify-content:space-between;
}
li{
  font-family: 'abril fatface',cursive;
  color: #DEAF68;
  float:left;
  padding:20px;
}
article{
  display:flex;
  flex-direction:row;
  width:100%;
  height:500px;
}
article:nth-child(even){
  flex-direction:row-reverse;
}
a:hover{
  cursor:pointer;
  color: #FCDE9C;
}

.emirate-desc p{
  font-family: 'urbanist',sans-serif;
  font-size:24px;
  width:80%;
  margin:0 auto;
  padding-bottom:50px;
}
.emirate-desc h2{
  padding-left:10%;
  font-size:30px;
  margin-bottom:10px;
  padding-bottom:10px;
}
.emirate-desc h1{
  padding:0;
  text-align:center;
  color:white;
  text-shadow:3px 3px #000;
  font-size:5vw;
  width:50%;
  margin:0 auto;
  padding-top:50px;
  padding-bottom:50px;
}
.emirate-text{
  position:absolute;
  width: 100%;
  top: 40%;
}
.emirate-text > h1, h3{
  text-align:center;
  color:white;
  margin:0px;
  padding:0px;
}
.emirate-text > h1{
  font-size:10vw;
  font-family: 'Aclonica', sans-serif;
}
.emirate-text > h3{
  font-size:5vw;
  padding-bottom:50px;
}
.slideshow, .emirate-img{
  width:100%;
}

.img-container{
  width:50%;
  border-radius: 1em;
  object-fit: cover;
  transition: all 0.5s ease;
}
.img-container:hover {
  transform: scale(1.1);
}
.txt-container{
  width:45%;
  padding: 20px;
}
.txt-container > p, h1, h2{
  padding:20px;
}
.txt-container h1{
  font-size:35px;
  padding-top:0px;
  padding-bottom:0px;
  font-family:'abril fatface',cursive;
}
.txt-container h2{
  font-family: 'aclonica',sans-serif;
  font-size:20px;
  padding-top:0px;
  padding-bottom:0px;
  margin-bottom:10px;
}
.txt-container p{
  font-family: 'urbanist',sans-serif;
  font-size: 18px;
  padding-bottom:0px;
}
.txt-container > button, .destination-desc > button, .destination-desc-top > button, .emirate-desc> button{
  border:none;
  font-family: 'aclonica',sans-serif;
  color:white;
  background-color:black;
  font-size:15px;
  padding:15px;
  margin-left:20px;
  width:33.3333%;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.emirate-desc>button{
  max-width: 250px;
  text-align: center;
  margin-left: 40vw;
}
.category-choice p{
  width:auto;
  color:white;
  font-size:40px;
  transform:translate(0, -250px);
  margin:0 auto;
  text-align:center;
  padding-bottom:0px;
}
.logo{
  width: 150px;
}
.category-heading{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:124px;
}
.category-heading > h1{
  font-size:50px;
  width:40vw;
  text-align:center;
}
.destination-section{
  display:flex;
  width:100%;
  background-color:red;
  height:450px;
}
.destination-section:nth-child(odd){
  flex-direction:row-reverse;
}
.destination-desc, .destination-desc-top, .destination-img{
  width:50%;
}
.destination-desc, .destination-desc-top{
  display:flex;
  flex-direction:column;
  background-color:lime;
}
.destination-desc > p, .destination-desc-top > p{
  padding:20px;
  padding-top:0px;
  padding-left:40px;
  font-size:20px;
}
.destination-desc > h1{
  font-size:30px;
  padding-bottom:0px;
  margin-bottom:15px;
  padding-left:40px;
}
.destination-top{
  display:flex;
  flex-direction:column;
  height:490px;
  background-color:white;
}
.heading-top > h1{
  margin:0px;
  background-color:blue;
  font-size:45px;
  text-align:center;
}
.top-desc{
  height:450px;
  display:flex;
  flex-direction:row-reverse;
}
.gmaps-view, .content-view{
  height:100%;
  margin:25px;
}
.gmaps-view{
  width:60%
}
.content-view{
  width:40%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  font-family: 'Aclonica', sans-serif;
  font-size: medium;
}

footer{
  background-color:#7B2D26;
  width:100%;
  padding:8px;
  text-align:center;
   color: #ffffff;
}

button>a {
  color:white;
  text-decoration: none;
}

video {
  border-radius: 1em;
}

#dropdown{
  display: block;
  position: relative;
  background-color: #000;
  max-width: 200px;
  flex-wrap: wrap;

}

#dropdown > ul {
  display: block;
 position: absolute;
 margin-top:50px;
 margin-left:15px;
 background-color: black;
 color:white;
 z-index: 1;
}

a{
  color: inherit;
  text-decoration: none;
}

.slider {
  width: 600px;
  height: 500px;
  margin-left:30vw;
}
.wrapper {
  overflow: hidden;
  position: relative;
  background: #222;
  z-index: 1;
}
#items {
  width: 10000px;
  position: relative;
  top: 0;
}
#items.shifting {
  transition: left .2s ease-out;
}
.slide {
  width: 600px;
  height: 400px;
  cursor: pointer;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s;
  position: relative;
  background: #FFCF47;
}

.control {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 20px;
  margin-top: -20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.prev,.next {
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.prev {
  background-image: url("images/right.png");
}
.next {
  background-image: url("images/left.png");
}
.prev:active,
.next:active {
  transform: scale(0.8);
}


@media screen and (max-width:800px) {
  .img-container{
    width:100%;
  }
  
  .txt-container{
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }

}